<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="../../styles\NavBar.css" rel="stylesheet" />
    <link href="../../styles\Footer.css" rel="stylesheet" />
    <link href="../../styles\My_learning.css" rel="stylesheet" />
    <link rel="icon" href="/Images/logo_prueba.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>My Learning</title>
</head>
<body>
  <div class="nav">
    <a href="..\..\index.html">
      <img class="logo" src="\Images\logo_prueba.webp" />
    </a>
    <a href="\Views\Courses\Courses_view.html"> Categorias </a>
    <a href="\Views\Wish_list\My_learning.html"> Learning</a>
    <input type="search"/>
    <a href="\Views\Wish_list\My_learning.html"> Wish List</a>
    <a href="#"> Donations </a>
    <a href="#"> <button> Log In</button>
     </a>
    <a href="#"> <button> Register</button> </a>
  </div>
    <div class="container mt-5">
        <h2>Mis Cursos Deseados</h2>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Curso de Desarrollo Web
                <span class="badge bg-primary rounded-pill">Nuevo</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Curso de Inteligencia Artificial
                <span class="badge bg-primary rounded-pill">Popular</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Curso de Diseño Gráfico
                <span class="badge bg-primary rounded-pill">Tendencia</span>
            </li>
        </ul>
    </div>
    <div class="footer">
        <div class="footer-container">
        <img class="logo" src="../../Images/logo_prueba.webp" />
        <div class="social">
          <i class="fab fa-facebook-f"> </i>
          <i class="fab fa-instagram"> </i>
          <i class="fab fa-google"> </i>
        </div>
        <div>
          <p>Contacto: numero</p>
        </div>
        <div>
          <p>¿Quienes somos?</p>
        </div>
      </div>
      </div>
</body>
</html>

