.navbar-custom {
    background-color: #3a7c9d; /* Color de fondo de la navbar */
  }
  .navbar-custom .nav-link, .navbar-custom .navbar-brand {
    color: #fff;
  }
  .navbar-custom .nav-link:hover {
    color: #d4d4d4;
  }
  .navbar-custom .btn-login {
    background-color: #3f5198;
    color: #fff;
    border-radius: 20px;
  }
  .navbar-custom .btn-register {
    background-color: #4eb785;
    color: #fff;
    border-radius: 20px;
  }

  .search-bar {
    max-width: 200px;
  }

.navbar-custom .btn-login:hover {
    background-color: #254072;
    border: 2px solid #254072;
    transform: scale(1.05);
}

.navbar-custom .btn-register:hover {
    background-color: #2ecc71;
    transform: scale(1.05);
}



.bi-search{
width: 100%;
}

.btn-outline-light{
    width: 50px;
}