.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2%;
    background-color: #327799;
    
}
.nav a {
    text-decoration: none;
    color: black;
    padding: 0.2%;
    color: #F5F5F5;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}