body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 
.main-courses-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.filter_container{
    
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 270px;
    height: 100%;
}

.filters_item{
display: flex;
flex-direction: row;
padding-bottom: 10px;
}

.filterText{
    cursor: pointer;
    margin-left: 8%;
}

.filters{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.filters_button{
    border-radius: 20px;
    background-color: #3f5198;
    color:white;
    margin-left: 20%;
    border: #3f5198;
    width: 55%;
}

.filters_button:hover{
    transform: scale(1.05);
}
.CoursesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Courses_row{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.link-course{
    text-decoration: none;
}

.Card{
    display: flex;
    align-items: center;
    width: 15rem;
    height: 15rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), /* Sombra cercana y suave */
    0 8px 10px rgba(0, 0, 0, 0.15), /* Sombra media */
    0 12px 15px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    z-index: 1;
}

.Card:hover{
    transform: scale(1.05);
}

.favoriteIcon{
    position: sticky;
    bottom: 0%;
    left: 0%;
    width: 20px;
    z-index: 2;
    transition: all;
    transition: transform 0.3s ease-in-out;
}

.favoriteIcon:hover{
transform: scale(1.02) rotate(90deg);

}
.cardText{
    text-align: center;

}

.cardTitle{
    text-align: center;
 
}

.collapse{
    width: 70%;
}